/* ----- DOCUMENT & CLEAR FIX ------ */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}


/* ----- HEADINGS & GENERAL TEXT FORMATTING ----- */
h1,
#tagline
#tagline-contact {
    text-align: center;
}

#tagline-contact {
    font-size: 0.95em;
    margin-top: 0;
}

h1 a {
    margin: 0;
    font-size: 2em;
    color: #99ccff;
    text-decoration: none;
}

#tagline {
    margin-top: -1.55em;
    font-size: 1.25em;
    margin-bottom: 0;
}

h1,
h2,
blockquote,
.resume h3 {
    font-family: 'Cookie', cursive;
}

h2 {
    font-size: 2.75em;
    color: #99ccff;
}

p {
    font-size: 1.3em;
    color: #595959;
    line-height: 38px;
}

.link {
    color: #ffb84d;
}

.nolink {
    text-decoration: none;
    color: #595959;
}

li {
    list-style-type: none;
    margin: 1em 0;
}

a:hover {
    cursor: pointer;
}

/* ------------NAVIGATION ------------- */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

nav {
    margin: 1.75em 0 3em;
    width: 100%;
}

nav ul {
    padding-left: 0;
}

nav li {
    display: block;
    padding: 1.2em 0;
    text-transform: lowercase;
}

@media (min-width: 750px) {
    nav li {
        display: inline;
        margin-right: 1.5em;
    }
}

nav li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-bottom: 1.5em;
}

nav li a:hover {
    color: #ffb84d;

}

.blog-link {
    color: #ffb84d;
    font-weight: bold;
}

.blog-link:hover {
    color: #ffad33;
}

/* --------- BANNER INTRO --------- */
.about {
    background-image: repeating-linear-gradient(45deg, rgba(153, 204, 255, 0.5), rgba(153, 204, 255, 0.5) 3px, rgba(153, 204, 255, 0.6) 3px, rgba(153, 204, 255, 0.6) 7px), url('../img/bg/headshot_left.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 1.5em;
    text-align: right;
    box-shadow: 5px 10px 15px #e0e2e5;
    -webkit-box-shadow: 5px 10px 15px #e0e2e5;
}

.services-intro {
    background-image: repeating-linear-gradient(45deg, rgba(255, 173, 51, 0.5), rgba(255, 173, 51, 0.5) 3px, rgba(255, 173, 51, 0.6) 3px, rgba(255, 173, 51, 0.6) 7px), url('../img/bg/php.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 1.5em;
    text-align: right;
    box-shadow: 5px 10px 15px #e0e2e5;
    -webkit-box-shadow: 5px 10px 15px #e0e2e5;
}

.about h2,
.services-intro h2 {
    color: #ffffff;
}

.about p,
.services-intro p {
    line-height: 30px;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
}

@media (min-width: 575px) {
    .about,
    .services-intro {
        background-position: center;
    }
}

@media (min-width: 750px) {
    .about h2,
    .services-intro h2 {
        font-size: 4em;
        margin-bottom: 0;
    }

    .about p,
    .services-intro p {
        margin: 0;
        font-size: 1.4em;
    }
}

@media (min-width: 850px) {
    .about,
    .services-intro {
        background-position: top;
        padding-bottom: 5em;
    }

    .about h2,
    .services-intro h2 {
        font-size: 6em;
        margin: 1em 0 0;
    }

    .about p,
    .services-intro p {
        padding: 0 0 0 15em;
    }
}

@media (min-width: 1000px) {
    .about,
    .services-intro {
        background-position: center;
    }

    .about p,
    .services-intro p {
        padding-left: 25em;
    }
}

@media (min-width: 1450px) {
    .about,
    .services-intro {
        background-position: center;
        padding: 8em 2em;
    }

    .about p,
    .services-intro p {
        padding-left: 45em;
    }
}


/* -------- SERVICES ---------- */
.services {
    margin-top: 2.5em;
}

#graphicdesign,
#digitalmarketing {
    margin-top: 3em;
    text-align: center;
}

.services h3 {
    color: #595959;
    font-weight: bold;
    font-size: 1.7em;
}

.services img {
    width: 25%;
}

.services ul {
    padding-left: 0;
}

@media (min-width: 450px) {
    .services img {
        width: 35%;
    }
}

@media (min-width: 650px) {
    .services img {
        width: 20%;
    }
}

@media (min-width: 850px) {
    .services {
        width: 100%;
    }

    #webdesign,
    #graphicdesign,
    #digitalmarketing {
        display: inline;
        float: left;
        width: 30%;
    }

    #webdesign {
        margin-top: 3em;
    }

    #graphicdesign {
        margin: 3em 1.5em;
    }

    .services img {
        width: 40%;
    }

    .services ul {
        padding: 0 3em;
    }

    .services ul li {
        text-align: center;
        list-style-type: none;
    }
}

#action_buttons {
    clear: both;
    padding: 3em 0;
    margin: 0 auto 2.5em;
}

.button {
    width: 100%;
    display: block;
    padding: 1em 0;
    margin-bottom: 0.5em;
    color: #ffffff;
    background-color: #ffb84d;
    border-radius: 0.5em;
}

@media (min-width: 475px) {
    .button {
        color: #ffffff;
        padding: 1em 3.5em;
        font-size: 1em;
        display: inline;
    }
}

.button:hover {
    background-color: #ffad33;
    color: white;
}


/* ----- PORTFOLIO PREVIEW ----- */
.portfolio {
    background-color: #595959;
    padding: 2em 5em;
    box-shadow: 5px 10px 15px #e0e2e5;
    -webkit-box-shadow: 5px 10px 15px #e0e2e5;
}


/* ------- PORTFOLIO PAGE -------- */
.portfolio-page-content p {
    padding: 0 5em;
}

@media (min-width: 800px) {
    .portfolio-page-content p {
        padding: 0 8em;
    }
}

#portfolio-contact {
    color: #ffb84d;
}

#webportfolio,
#graphicportfolio {
    padding: 1.8em 5em;
}

#webportfolio p,
#graphicportfolio p {
    margin-bottom: 1em;
}

#webportfolio img,
#graphicportfolio img {
    height: 12em;
    width: auto;
    display: inline;
    border-radius: 0.7em;
}

#webportfolio img:hover,
#graphicportfolio img:hover {
    opacity: 0.7;
}

#graphicportfolio {
    margin-bottom: 5em;
}

.portfolio-page-content h3 {
    font-family: "Cookie", cursive;
    color: #ffb84d;
    font-size: 2em;
}

.portfolio-page-content ul {
    padding-left: 0;
    margin-bottom: 2em;
}

.portfolio-page-content li {
    display: inline;
    padding: 0 2em;
}

.program {
    font-weight: bolder;
    padding-right: 0;
}

/* ----- BIO ---------- */
.bio {
    padding: 5em;
}

.bio blockquote,
.resume h3 {
    color: #ffb84d;
    font-size: 2em;
}

#quote-src {
    margin-top: -1em;
    font-size: 1em;
}

.bio p {
    margin-bottom: 2.5em;
}

hr {
    display: block;
    height: 1px;
    width: 25em;
    border: 0;
    border-top: 1px solid #99ccff;
    margin: 1em auto 2.5em;
    padding: 0;
}


/* -------- SHOWCASE ----------- */
.showcase {
    background-image: repeating-linear-gradient(45deg, rgba(255, 184, 77, 0.8), rgba(255, 184, 77, 0.8) 3px, rgba(255, 184, 77, 0.9) 3px, rgba(255, 184, 77, 0.9) 7px), url('../img/bg/showcase.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2em 0;
    font-family: "Cookie", cursive;
}

.showcase h3 a {
    color: #ffffff;
    padding-bottom: 0;
    font-size: 3em;
}


/* -------- RESUME ------------- */
.resume h4 {
    font-size: 1.7em;
    font-weight: bold;
    color: #595959;
    line-height: 35px;
}

.resume h3,
.resume h4,
.resume h5,
.resume p {
    margin: 0;
}

.resume h3 {
    padding-bottom: 0.5em;
}

.resume h5 {
    font-size: 1.3em;
    color: #595959;
    padding-bottom: 0.5em;
}

.resume p {
    padding-bottom: 2em;
}

.resume ul {
    padding: 0 4em 1em;
}

.resume ul li {
    text-align: center;
    font-size: 1.2em;
}

.awards h4 {
    margin-bottom: 0.5em;
}

.projects {
    padding-bottom: 3em;
}


/* -------- CONTACT ------------ */
.contact {
    background-color: #99ccff;
    padding: 2em 0 5em;
}

.contact h2 {
    margin-bottom: 0.5em;
}

.contact h2,
.contact p {
    color: #ffffff;
}

.contact p {
    display: inline;
    padding: 0 1em;
    font-size: 1.2em;
}

.contact-info {
    margin-bottom: 1em;
}

.contact a img {
    margin-bottom: 2em;
}

/* ------------- SERVICES PAGE -------- */
.services-content img {
    width: 35%;
}

@media (min-width: 750px) {
    .services-content img {
        width: 25%;
    }
}


/* ------------- FOOTER -------------- */
footer {
    background-color: #595959;
    font-size: 0.7em;
    padding: 1em;
}

footer p {
    color: #ffffff;
    font-size: 1.2em;
}

.contact p a,
footer p a {
    color: #ffffff;
}
