/* ----- DOCUMENT & CLEAR FIX ------ */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}


/* ----- HEADINGS & GENERAL TEXT FORMATTING ----- */
h1,
#tagline {
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3.5em;
    color: #00cc99;
}

#tagline {
    margin-top: -0.5em;
    font-size: 1.25em;
}

h1,
h2 {
    font-family: 'Cookie', cursive;
}

h2 {
    font-size: 2.75em;
    color: #ffb84d;
}

li {
    list-style-type: none;
    margin: 1em 0;
}


/* ------------NAVIGATION ------------- */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

nav {
    margin: 3em 0;
    width: 100%;
}

nav ul {
    padding-left: 0;
}

nav li {
    display: block;
    padding: 1.2em 0;
    text-transform: lowercase;
}

@media (min-width: 750px) {
    nav li {
        display: inline;
        margin-right: 1.5em;
    }
}

nav li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-bottom: 1.5em;
}

nav li a:hover {
    color: #ffb84d;

}


/* --------- BANNER INTRO --------- */
.about {
    background-image: repeating-linear-gradient(45deg, rgba(0, 204, 153, 0.5), rgba(0, 204, 153, 0.5) 3px, rgba(0, 204, 153, 0.6) 3px, rgba(0, 204, 153, 0.6) 7px), url('../img/bg/headshot.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 1.3em;
    text-align: center;
}

.about h2 {
    color: #ffffff;
}

.about p {
    line-height: 30px;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
}

@media (min-width: 750px) {
    .about p {
        margin: 0;
        font-size: 1.6em;
    }
}

@media (min-width: 950px) {
    .about p {
        margin: 0;
    }
}


/* -------- SERVICES ---------- */

@media (min-width: 600px) {
    #webdesign,
    #graphicdesign,
    #digitalmarketing {
        width: calc(100 / 3 - 1em);
    }
}

.services img {
    width: 45%;
}


/* -------- CONTACT ------------ */
.contact {
    background-color: #f6f7f7;
    padding: 5em 0;
}

.contactbutton {
    color: #000000;
    border: 0.5px solid #000000;
    padding: 1em 3.5em;
}

.contactbutton:hover {
    border: transparent;
    background-color: #444444;
    color: white;
}

/* ------------- FOOTER -------------- */
footer {
    background-color: rgba(0, 0, 0, 0.42);
    color: #ffffff;
    font-size: 0.7em;
    padding: 1em;
}
